._wrapper {
	position: relative;
	padding: 48rpx 48rpx env(safe-area-inset-bottom);
	display: flex;

	._handBtn {
		width: 32%;
		overflow: hidden;
		position: relative;

		._handBtnCont {
			transform: rotate(90deg);
			display: flex;
			position: absolute;
			bottom: 180rpx;
			left: -35%;

			._but {
				border: 2rpx solid #E9565C;
				border-radius: 10rpx;
				background: #ffffff;
				display: flex;
				font-family: PingFangSC-Regular;
				font-size: 32rpx;
				color: #ffffff;
				color: #E9565C;

				text-align: justify;
				width: 152rpx;
				height: 60rpx;
				line-height: 60rpx;
				padding: 0 20rpx;
				white-space: nowrap;

				._icon {
					display: inline-block;
					height: 44rpx;
					width: 44rpx;
					text-align: center;
					line-height: 44rpx;
					margin: auto 5rpx auto 0;
				}
			}

			._saveBut {
				background: #669CF6;
				border-color: #669CF6;
				margin-left: 48rpx;
				color: #ffffff;
			}
		}

	}

	._handWriting {
		box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.10);
		background: #fff;
		width: 68%;
		height: 100%;
	}



}