.showStatusEzt {
    .info {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 126rpx;
        width: 100%;
        box-sizing: border-box;
        margin-top: 146rpx;
        align-items: center;

        image {
            width: 147rpx;
            display: block;
            border-radius: 100%;
        }

        p {
            font-family: PingFangSC-Medium;
            font-size: 32rpx;
            color: #233347;
            line-height: 50rpx;
            margin-top: 64rpx;
            text-align: center;
        }

        .result {
            width: 100%;
            opacity: 0.75;
            font-family: PingFangSC-Regular;
            font-size: 26rpx;
            color: #233347;
            line-height: 40rpx;
            // text-align: justify;
            text-align: center;
            margin-top: 50rpx;
        }

        .limit {
            width: 100%;
            display: flex;
            margin-top: 50rpx;
            flex-direction: column;
            align-items: center;

            p {
                opacity: 0.75;
                font-family: PingFangSC-Regular;
                font-size: 32rpx;
                color: #233347;
                line-height: 50rpx;
                margin-top: 16rpx;

                span {
                    font-family: PingFangSC-Regular;
                    font-size: 32rpx;
                    color: #669CF6;
                    line-height: 50rpx;
                }
            }

            .ArtificialCertification {
                font-family: PingFangSC-Regular;
                font-size: 28rpx;
                
                line-height: 40rpx;
                opacity: 0.75;
                margin-top: 64rpx;
                color: #233347;

                em {
                    font-family: PingFangSC-Regular;
                    font-size: 28rpx;
                    color: #669CF6;
                    
                    line-height: 40rpx;
                }
            }
        }
    }

    .btn {
        width: 100%;
        padding: 0 80rpx;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        bottom: 264rpx;

        // margin-top: 324rpx;
        button {
            width: 100%;
            height: 90rpx;
            background: #669CF6;
            box-shadow: 0 4rpx 8rpx 0 rgba(56, 116, 246, 0.1);
            border-radius: 16rpx;
            font-family: PingFangSC-Regular;
            font-size: 28rpx;
            color: #ffffff;
           
            line-height: 90rpx;
            padding: 0;
            margin-top: 64rpx;
            font-weight: 200;
        }

        .back {
            width: 100%;
            height: 90rpx;
            background: #F2F2F2;
            border-radius: 16rpx;
            font-family: PingFangSC-Regular;
            font-size: 28rpx;
            color: #ffffff;
           
            line-height: 90rpx;
            padding: 0;
            margin-top: 24rpx;
            font-weight: 200;
            color: #669CF6;
        }
    }
}