._workbenchList {
    background: #F6F8F9;
    padding: 16rpx 20rpx;

    ._banner {
        box-sizing: border-box;
        height: 250rpx;
        border-radius: 8rpx;
        overflow: hidden;
        background: #ffffff;

        image {
            width: 100%;
            height: 100%
        }
    }

    ._banTop {
        margin: 16rpx 0;
        width: 100%;
        background: #FFFFFF;
        border-radius: 20rpx;
        overflow: hidden;
        padding: 28rpx;

        ._title {
            line-height: 44rpx;
            font-family: PingFangSC-Medium;
            font-size: 32rpx;
            color: #333330;

            text-align: left;
            font-weight: 500;
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        ._contCenter {
            display: flex;
            margin: 14rpx 0;
            font-family: PingFangSC-Regular;
            font-size: 18rpx;
            color: #FFFFFF;

            text-align: center;
            font-weight: 400;

            ._titleName {
                height: 32rpx;
                line-height: 32rpx;
                background: #5BC29D;
                border-radius: 6rpx;
                padding: 0 16rpx;
                max-width: calc(50% - 18rpx);
                /* 1.先强制一行内显示文本 */
                white-space: nowrap;
                /* 2.超出部分隐藏 */
                overflow: hidden;
                /* 3.文字用省略号替代超出的部分 */
                text-overflow: ellipsis;
            }

            ._siteList1 {
                padding: 0 16rpx;
                margin-left: 18rpx;
                max-width: 50%;
                height: 32rpx;
                line-height: 32rpx;
                color: rgba(102, 156, 246, 1);
                border: 2rpx solid rgba(102, 156, 246, 1);
                border-radius: 6rpx;
                display: flex;

                ._list1 {
                    margin: auto 0;
                }
            }
        }

        ._corporationName {
            max-width: 100%;
            height: 34rpx;
            line-height: 34rpx;
            font-family: PingFangSC-Regular;
            font-size: 24rpx;
            color: #AAAAAA;

            text-align: left;
            font-weight: 400;
            /* 1.先强制一行内显示文本 */
            white-space: nowrap;
            /* 2.超出部分隐藏 */
            overflow: hidden;
            /* 3.文字用省略号替代超出的部分 */
            text-overflow: ellipsis;
        }
    }

    ._information {
        width: 100%;
        background: #FFFFFF;
        border-radius: 20rpx;
        overflow: hidden;
        padding: 28rpx 28rpx 34rpx;

        ._title1 {
            height: 40rpx;
            font-family: PingFangSC-Medium;
            font-size: 28rpx;
            color: #333333;

            text-align: left;
            font-weight: 500;
            margin-bottom: 16rpx;
        }

        ._dataList {
            width: 100%;
            line-height: 34rpx;
            font-family: PingFangSC-Regular;
            font-size: 24rpx;
            color: #666666;

            text-align: left;
            font-weight: 400;

            ._dataListChild {
                display: inline-block;
            }

            margin-bottom:12rpx;

            &:last-child {
                margin-bottom: 0;
            }
        }

        ._questionnairetask1 {
            margin-top: 38rpx;
        }

        ._questionnairetask {
            width: 100%;
            background: #FFFFFF;
            box-shadow: 0px 0px 10rpx 0px rgba(0, 0, 0, 0.1);
            border-radius: 8rpx;
            padding: 24rpx 28rpx;
            margin-bottom: 16rpx;

            &:last-child {
                margin-bottom: 0
            }

            .__questionnaireBot {
                display: flex;

                .__questionnaireLet {
                    flex: 1;
                    width: calc(100% - 150rpx);

                    ._questionnaireTitle {
                        width: 100%;
                        height: 42rpx;
                        line-height: 42rpx;
                        font-family: PingFangSC-Medium;
                        font-size: 30rpx;
                        color: #000000;

                        text-align: left;
                        font-weight: 500;
                        /* 1.先强制一行内显示文本 */
                        white-space: nowrap;
                        /* 2.超出部分隐藏 */
                        overflow: hidden;
                        /* 3.文字用省略号替代超出的部分 */
                        text-overflow: ellipsis;
                        margin-bottom: 6rpx;
                    }

                    ._hasa {
                        width: 100%;
                        height: 50rpx;
                        line-height: 50rpx;
                        font-family: PingFangSC-Regular;
                        font-size: 26rpx;
                        color: #666666;

                        text-align: left;
                        font-weight: 400;
                        display: flex;

                        ._hasaList {
                            margin-left: 12rpx;
                            font-size: 36rpx;
                            color: #669CF6;

                            text-align: left;
                            font-weight: 600;
                        }
                    }
                }

                .__questionnairerig {
                    width: 108rpx;
                    text-align: center;
                    height: 48rpx;
                    line-height: 48rpx;
                    border: 2rpx solid rgba(102, 156, 246, 1);
                    border-radius: 6rpx;
                    margin: auto 0;
                    font-family: PingFangSC-Semibold;
                    font-size: 24rpx;
                    color: #669CF6;

                    font-weight: 600;
                }
            }
        }
    }

    ._completeFeeling {
        margin-top: 16rpx;
        width: 100%;
        background: #FFFFFF;
        border-radius: 20rpx;
        overflow: hidden;
        padding: 28rpx 0 0;

        ._tit {
            height: 54rpx;
            line-height: 40rpx;
            font-family: PingFangSC-Medium;
            font-size: 28rpx;
            color: #333333;

            text-align: left;
            font-weight: 500;
            padding: 0 28rpx;
        }

        ._completeF {
            display: grid;
            grid-template-columns: 1fr;
            grid-row-gap: 48rpx;
            padding: 48rpx 28rpx;

            ._completeList {
                display: flex;

                .icon {
                    width: 96rpx;
                    text-align: center;
                    height: 96rpx;
                    line-height: 96rpx;
                    background: #FFFFFF;
                    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
                    font-family: PingFangSC-Semibold;
                    font-size: 56rpx;
                    color: #111111;
                    font-weight: 600;
                    margin-right: 30rpx;
                    border-radius: 50%;
                    overflow: hidden;
                }

                ._contCenter1 {
                    padding-top: 4rpx;
                    flex: 1;

                    .p1 {
                        height: 40rpx;
                        line-height: 40rpx;
                        font-family: PingFangSC-Medium;
                        font-size: 28rpx;
                        color: #333333;

                        text-align: left;
                        font-weight: 500;
                        max-width: calc(100vw - 400rpx);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        margin-bottom: 10rpx;
                    }

                    .p2 {
                        display: inline-block;
                        padding: 0 16rpx;
                        height: 32rpx;
                        border: 1px solid rgba(82, 196, 26, 1);
                        border-radius: 6rpx;
                        text-align: center;
                        line-height: 32rpx;
                        font-family: PingFangSC-Regular;
                        font-size: 18rpx;

                        font-weight: 400;
                        color: rgba(82, 196, 26, 1);
                    }

                    .p3 {
                        border-color: rgba(153, 153, 153, 1);
                        color: rgba(153, 153, 153, 1);
                    }

                    .p4 {
                        border-color: rgba(102, 156, 246, 1);
                        color: rgba(102, 156, 246, 1);
                    }

                    .p5 {
                        border-color: rgba(252, 87, 64, 1);
                        color: rgba(252, 87, 64, 1);
                    }
                }

                ._particulars {
                    margin: auto 0;
                    width: 108rpx;
                    height: 48rpx;
                    line-height: 48rpx;
                    border: 1px solid rgba(102, 156, 246, 1);
                    border-radius: 10rpx;
                    font-family: PingFangSC-Semibold;
                    font-size: 24rpx;
                    color: #669CF6;

                    text-align: center;
                    font-weight: 600;
                    white-space: nowrap;
                }
            }
        }

        ._but {
            border-top: 1rpx solid rgba(236, 236, 236, 1);
            height: 100rpx;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: PingFangSC-Regular;
            font-size: 26rpx;
            color: #8B8B8B;

            font-weight: 400;

            ._icon {
                border-radius: 50%;
                border: 1rpx solid #8B8B8B;
                font-size: 24rpx;
                width: 35rpx;
                text-align: center;
                height: 35rpx;
                line-height: 33rpx;
                color: #8B8B8B;
                margin-right: 8.5rpx;
            }
        }
    }
}